@page "/"

<h1>Hello, world!</h1>
<div>
    <p>
        An example Blazor application using .Net Core WebApi, Server side Blazor, Entity Framework Core, MongoDB, 
        and <a href="https://github.com/Joelius300/ChartJSBlazor">Blazor wrapper</a> for <a href="https://chartsjs.org">Charts.js </a>
    </p>
</div>
<footer class="modal-footer">
    <p>
        Designed by Paul Kowalski
    </p>
</footer>