@page "/temperature"

@using BlazorTemperature.Data
@using TemperatureApi.Models

@inject TemperatureDataService TemperatureService

<h3>Temperature</h3>

@if (temperatures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Temperatures loaded.</p>
    <p>Samples Collected: @temperatures.Count </p>
    <p>Average Temperature = @string.Format("{0:0.##}", temperatures.Average(p => p.TemperatureF) ) </p>
}


@code {
    // TemperatureEntry[] temperatures;
    List<TemperatureEntry> temperatures;

    protected override async Task OnInitializedAsync()
    {
        temperatures = await TemperatureService.GetTemperaturesAsync();;
    }

}
